:root {
  color-scheme: light dark;
  background-color: light-dark(white, #0d111749);
}

html {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  max-width: 100ch;
  padding: 1em 1em;
  margin: auto;
  line-height: 1.5;
  font-size: 1rem;
}

pre {
  padding: 1rem;
  overflow-x: auto;
  font-size: 0.8rem;
  background-color: #0d1117;
}

code {
  font-size: 0.9rem;
  background-color: #0d1117;
}

a {
  opacity: 65%;
}

a:hover {
  opacity: 60%;
}

.landing-li {
  margin-left: 1rem;
}

/* Center images */
img {
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Txt Markdown blocks do not get styled by default.css */
pre {
  border-radius: 0.5rem;
  background: #0d1117;
  color: #e6edf3;
}

a:visited,
a:hover,
a:focus,
a:active {
  color: light-dark(black, white);
  transition: opacity 0.25s ease-in-out;
}
